body {
  background-color: #f0e3ea;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 420px;
  margin: 30px auto;
  background-color: #f5c9e0;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 20px;
}

h2 {
  font-size: 15px;
  color: #4a4a4a;
  margin-bottom: 8px;
}

section {
  margin-bottom: 18px;
}

input {
  width: 100%;
  padding: 9px;
  border-radius: 10px;
  border: none;
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #8ea8c3;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.85;
}

button.tema {
  background-color: #ada7c9;
}

button.zerar {
  background-color: #d7b9d5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f0e3ea;
  padding: 7px 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  font-size: 14px;
}

#status,
#resultado,
#temaSorteado {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 500;
}